
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
            <a class="navbar-brand" href="#">User Dashboard</a>
         <a class="navbar-brand" href="#">Logo</a>
       
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="./home">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="./about">About Us
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="./partners"> Partners
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="./knowledge"> Knowledge
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                
               
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="./gallery"> Gallery
                        <span class="sr-only">(current)</span>
                    </a>
                </li>

                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="./clients"> Clients
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="./consulting"> Consulting
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="./contact"> Contact
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
               
                <li class=" btn-primary nav-item text-white" role="button">
                    <!-- (click)="logout() -->
                    <a class="nav-link text-white" >logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>